@{
    Layout = null;
}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index","Home")">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span>Trang Chủ</span>
        </a>
    </li>

    <!-- Divider -->
    @*Phần cho Admin*@
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Admin
    </div>

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","User")">
            <i class="fas fa-user"></i>
            <span>Tài Khoản</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Products")">
            <i class="fa fa-book" aria-hidden="true"></i>
            <span>Sản Phẩm - Sách</span>
        </a>
    </li>
    @*Phần cho Client*@
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Client
    </div>

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Sales", routeValues: new { Area = "Client"})">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span>Trang Bán Hàng</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>

