@model ModelEF.Model.UserAccount

@{
    ViewBag.Title = "Người Dùng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
    <i class="fas fa-users" style="color:red;">&nbsp;Xóa Người Dùng</i>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Bạn Chắc Chắn Muốn Xóa Tài Khoản Này?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <input type="hidden" id="id" value="@Model.ID" />

            <div class="form-actions no-color">
                @Html.ActionLink("Trở Về", "Index", "User", new { @class = "btn btn-success" }) &nbsp;
                <input type="submit" value="Xóa" class="btn btn-danger" />&nbsp;
            </div>
        }
    </div>
</body>
</html>
